General Sequence DataType operation

In [1]:
strSample = 'World is a race !'
print(strSample)

World is a race !

In [3]:
strSample.capitalize( ) # returns the string with its first character capitalized and the rest lowercased

'World is a race !'

In [5]:
strSample.title() # to capitalise the first character of each word

'World Is A Race !'

In [7]:
strSample.swapcase() # to swap the case of strings

'wORLD IS A RACE !'

In [11]:
strSample.find('n') # to find the index of the given letter

-1

In [13]:
strSample.count('a') # to count total number of 'a' in the string

2

In [15]:
strSample.replace('race','stage') # to repace the letters/wor

'World is a stage !'

In [17]:
strSample.isalnum() # Return true if all bytes in the sequence are 
 # alphabetical ASCII characters or ASCII decimal digits, 
# false otherwise

False

In [19]:
name1 = 'GITAA'
name2 = 'Pvt'
name3 = 'Ltd'

In [21]:
name='{} {}. {}.'.format(name1,name2,name3)
print(name)

GITAA Pvt. Ltd.

In [25]:
print(dir(name)) #Shows the particular directory we are

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

**Sequence datatype object initializations**

In [27]:
strSample = 'learning is fun !' # STRING
lstSample = [1,2,'a','sam',2] # list
from array import *
arrSample = array('i',[1,2,3,4]) # array
tupSample = (1,2,3,4,3,'py') # tuple 
dictSample= {1:'first', 'second':2, 3:3, 'four':'4'} # dictionary

len(object) returns number of elements in the object
accepted object types: string, list, array, tuple, dictionary, set, range

In [33]:
print("No. of elements in the object :")
print("string = {} , list= {}, array= {}, tuple = {},\
 dictionary ={}".format(len(strSample), len(lstSample),
 len(arrSample) , len(tupSample), len(dictSample)))

No. of elements in the object :
string = 17 , list= 5, array= 4, tuple = 6, dictionary =4

In [35]:
lstSample.reverse() # Reverses the order of the list
print(lstSample)

[2, 'sam', 'a', 2, 1]

The clear() method removes all items from the object
Supported sequence data: list, dictionary, set

In [39]:
lstSample.clear()
print(lstSample)
dictSample.clear()
print(dictSample)

[]
{}

append() Adds an element at the end of the object
Supported datatypes: array, list, set

In [41]:
arrSample.append(3) # adding an element, 3 to the 'arrSample'
print(arrSample) # updated array, arrSample

array('i', [1, 2, 3, 4, 3])

In [45]:
lstSample.append([2,4]) # adding [2, 4] list to lstSample
print(lstSample) # updated list

[[2, 4], [2, 4]]

#setSample.append(20) # AttributeError: 'set' object has no attribute 'append'
setSample.add(20) # add() takes single parameter(element) which needs to 
print(setSample)

In [52]:
setSample.update([5,10]) # adding a list of elements to the set 
print(setSample) # updated set

NameError: name 'setSample' is not defined

list(dictSample) # returns a list of all the keys used in the dictionary dictSample
len(dictSample) # returns the number of items in the dictionary
dictSample.get("five") # it is a conventional method to access a value for a key
dictSample.keys() # returns list of keys in dictionary
dictSample.items()

insert()- inserts the element at the specified index of the object
- supported datatypes: array, list

In [56]:
print(arrSample)
arrSample.insert(1,100) # inserting the element 100 at 2nd position
print(arrSample) # printing array
lstSample.insert(5,24) # inserting the element 24 at 5th position
print(lstSample)

array('i', [1, 2, 3, 4, 3])
array('i', [1, 100, 2, 3, 4, 3])
[[2, 4], [2, 4], 24]